.titulo{
    color: white !important;
    font-weight: bold !important;
}

.img{
    width:1100px;
    height:700px;
    display: block;
    margin: 0 auto;
}

.caixa {
    background-color: #000000;
}

.botao {
    border-color: black !important;
     background-color: #F5ED30 !important; 
     color: #000000 !important;
}

.postagens {
    background-color: white;
}